In [1]:
import pandas as pd
import numpy as np

#En el video está mal la URL al archivo
##df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data', header=None)

#Mejor levando los datos desde un directorio local, más rapido
df = pd.read_csv('datasets/imports-85.data', header=None)

#evidentemente necesitamos unos headings en este dataset
headings = ["symboling","normalized-losses","make","fuel-type","aspiration","num-of-doors","body-style","drive-wheels","engine-location","wheel-base","length","width","height","curb-weight","engine-type","num-of-cylinders","engine-size","fuel-system","bore","stroke","compression-ration","horsepower","peak-rpm","city-mpg","highway-mpg","price"]
df.columns = headings
#la primera parte del archivo
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ration,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [2]:
#vamos a ver cómo Pandas infirió los tipos de datos de las columnas
df.dtypes

0       int64
1      object
2      object
3      object
4      object
5      object
6      object
7      object
8      object
9     float64
10    float64
11    float64
12    float64
13      int64
14     object
15     object
16      int64
17     object
18     object
19     object
20    float64
21     object
22     object
23      int64
24      int64
25     object
dtype: object

In [3]:
#un poco de estadística sobre los datos
df.describe(include="all")

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [92]:
 #ahora vamos mejor...
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ration,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

#### Hay muchos autos que no tienen precio.
Podríamos eliminarlos directamente del dataframe....

#price_column = ["price"] #columna a buscar/eliminar
#axis_row = 0 #eliminar toda la fila (si pongo 1, sería toda la columna)
#df.dropna(subset=price_column,axis=axis_row,inplace=True)

Pero vamos a inventarles un precio. Le chantamos el precio más bajo de todo el dataframe

In [31]:
lowest = (df['price'] == '?')

#df['price'].replace("?",lowest, inplace=True)
print(lowest)

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194    False
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
Name: price, Length: 205, dtype: bool

Vamos a reemplazar también la columna normalized-losses por un valor promedio 
Dado que tienen muchos símbolos tipo ? que no pueden parsearse a float, primero le digo a pandas que interprete esa columna como numérica. Para evitar errores, le digo que los errores los pase a NaN y listo, todos felices

In [2]:
#forzar interpretacion numerica
df["normalized-losses"] = pd.to_numeric(df["normalized-losses"], errors='coerce')

#reemplazo por la media
df["normalized-losses"].replace(np.nan,df["normalized-losses"].mean(), inplace=True)

In [7]:
df.describe

<bound method NDFrame.describe of      symboling  normalized-losses         make fuel-type aspiration  \
0            3              122.0  alfa-romero       gas        std
1            3              122.0  alfa-romero       gas        std
2            1              122.0  alfa-romero       gas        std
3            2              164.0         audi       gas        std
4            2              164.0         audi       gas        std
5            2              122.0         audi       gas        std
6            1              158.0         audi       gas        std
7            1              122.0         audi       gas        std
8            1              158.0         audi       gas      turbo
9            0              122.0         audi       gas      turbo
10           2              192.0          bmw       gas        std
11           0              192.0          bmw       gas        std
12           0              188.0          bmw       gas        std
13           0              188.0          bmw       gas        std
14           1              122.0          bmw       gas        std
15           0              122.0          bmw       gas        std
16           0              122.0          bmw       gas        std
17           0              122.0          bmw       gas        std
18           2              121.0    chevrolet       gas        std
19           1               98.0    chevrolet       gas        std
20           0               81.0    chevrolet       gas        std
21           1              118.0        dodge       gas        std
22           1              118.0        dodge       gas        std
23           1              118.0        dodge       gas      turbo
24           1              148.0        dodge       gas        std
25           1              148.0        dodge       gas        std
26           1              148.0        dodge       gas        std
27           1              148.0        dodge       gas      turbo
28          -1              110.0        dodge       gas        std
29           3              145.0        dodge       gas      turbo
..         ...                ...          ...       ...        ...
175         -1               65.0       toyota       gas        std
176         -1               65.0       toyota       gas        std
177         -1               65.0       toyota       gas        std
178          3              197.0       toyota       gas        std
179          3              197.0       toyota       gas        std
180         -1               90.0       toyota       gas        std
181         -1              122.0       toyota       gas        std
182          2              122.0   volkswagen    diesel        std
183          2              122.0   volkswagen       gas        std
184          2               94.0   volkswagen    diesel        std
185          2               94.0   volkswagen       gas        std
186          2               94.0   volkswagen       gas        std
187          2               94.0   volkswagen    diesel      turbo
188          2               94.0   volkswagen       gas        std
189          3              122.0   volkswagen       gas        std
190          3              256.0   volkswagen       gas        std
191          0              122.0   volkswagen       gas        std
192          0              122.0   volkswagen    diesel      turbo
193          0              122.0   volkswagen       gas        std
194         -2              103.0        volvo       gas        std
195         -1               74.0        volvo       gas        std
196         -2              103.0        volvo       gas        std
197         -1               74.0        volvo       gas        std
198         -2              103.0        volvo       gas      turbo
199         -1               74.0        volvo       gas      turbo
200         -1               95.0        volvo       gas        std
201         -1               95.0        volvo       gas      turbo
202         -1               95.0        volvo       gas        std
203         -1               95.0        volvo    diesel      turbo
204         -1               95.0        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...    \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
5            two        sedan          fwd           front        99.8  ...
6           four        sedan          fwd           front       105.8  ...
7           four        wagon          fwd           front       105.8  ...
8           four        sedan          fwd           front       105.8  ...
9            two    hatchback          4wd           front        99.5  ...
10           two        sedan          rwd           front       101.2  ...
11          four        sedan          rwd           front       101.2  ...
12           two        sedan          rwd           front       101.2  ...
13          four        sedan          rwd           front       101.2  ...
14          four        sedan          rwd           front       103.5  ...
15          four        sedan          rwd           front       103.5  ...
16           two        sedan          rwd           front       103.5  ...
17          four        sedan          rwd           front       110.0  ...
18           two    hatchback          fwd           front        88.4  ...
19           two    hatchback          fwd           front        94.5  ...
20          four        sedan          fwd           front        94.5  ...
21           two    hatchback          fwd           front        93.7  ...
22           two    hatchback          fwd           front        93.7  ...
23           two    hatchback          fwd           front        93.7  ...
24          four    hatchback          fwd           front        93.7  ...
25          four        sedan          fwd           front        93.7  ...
26          four        sedan          fwd           front        93.7  ...
27             ?        sedan          fwd           front        93.7  ...
28          four        wagon          fwd           front       103.3  ...
29           two    hatchback          fwd           front        95.9  ...
..           ...          ...          ...             ...         ...  ...
175         four    hatchback          fwd           front       102.4  ...
176         four        sedan          fwd           front       102.4  ...
177         four    hatchback          fwd           front       102.4  ...
178          two    hatchback          rwd           front       102.9  ...
179          two    hatchback          rwd           front       102.9  ...
180         four        sedan          rwd           front       104.5  ...
181         four        wagon          rwd           front       104.5  ...
182          two        sedan          fwd           front        97.3  ...
183          two        sedan          fwd           front        97.3  ...
184         four        sedan          fwd           front        97.3  ...
185         four        sedan          fwd           front        97.3  ...
186         four        sedan          fwd           front        97.3  ...
187         four        sedan          fwd           front        97.3  ...
188         four        sedan          fwd           front        97.3  ...
189          two  convertible          fwd           front        94.5  ...
190          two    hatchback          fwd           front        94.5  ...
191         four        sedan          fwd           front       100.4  ...
192         four        sedan          fwd           front       100.4  ...
193         four        wagon          fwd           front       100.4  ...
194         four        sedan          rwd           front       104.3  ...
195         four        wagon          rwd           front       104.3  ...
196         four        sedan          rwd           front       104.3  ...
197         four        wagon          rwd           front       104.3  ...
198         four        sedan          rwd           front       104.3  ...
199         four        wagon          rwd           front       104.3  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ration horsepower  \
0            130         mpfi  3.47    2.68               9.00        111
1            130         mpfi  3.47    2.68               9.00        111
2            152         mpfi  2.68    3.47               9.00        154
3            109         mpfi  3.19    3.40              10.00        102
4            136         mpfi  3.19    3.40               8.00        115
5            136         mpfi  3.19    3.40               8.50        110
6            136         mpfi  3.19    3.40               8.50        110
7            136         mpfi  3.19    3.40               8.50        110
8            131         mpfi  3.13    3.40               8.30        140
9            131         mpfi  3.13    3.40               7.00        160
10           108         mpfi  3.50    2.80               8.80        101
11           108         mpfi  3.50    2.80               8.80        101
12           164         mpfi  3.31    3.19               9.00        121
13           164         mpfi  3.31    3.19               9.00        121
14           164         mpfi  3.31    3.19               9.00        121
15           209         mpfi  3.62    3.39               8.00        182
16           209         mpfi  3.62    3.39               8.00        182
17           209         mpfi  3.62    3.39               8.00        182
18            61         2bbl  2.91    3.03               9.50         48
19            90         2bbl  3.03    3.11               9.60         70
20            90         2bbl  3.03    3.11               9.60         70
21            90         2bbl  2.97    3.23               9.41         68
22            90         2bbl  2.97    3.23               9.40         68
23            98         mpfi  3.03    3.39               7.60        102
24            90         2bbl  2.97    3.23               9.40         68
25            90         2bbl  2.97    3.23               9.40         68
26            90         2bbl  2.97    3.23               9.40         68
27            98         mpfi  3.03    3.39               7.60        102
28           122         2bbl  3.34    3.46               8.50         88
29           156          mfi  3.60    3.90               7.00        145
..           ...          ...   ...     ...                ...        ...
175          122         mpfi  3.31    3.54               8.70         92
176          122         mpfi  3.31    3.54               8.70         92
177          122         mpfi  3.31    3.54               8.70         92
178          171         mpfi  3.27    3.35               9.30        161
179          171         mpfi  3.27    3.35               9.30        161
180          171         mpfi  3.27    3.35               9.20        156
181          161         mpfi  3.27    3.35               9.20        156
182           97          idi  3.01    3.40              23.00         52
183          109         mpfi  3.19    3.40               9.00         85
184           97          idi  3.01    3.40              23.00         52
185          109         mpfi  3.19    3.40               9.00         85
186          109         mpfi  3.19    3.40               9.00         85
187           97          idi  3.01    3.40              23.00         68
188          109         mpfi  3.19    3.40              10.00        100
189          109         mpfi  3.19    3.40               8.50         90
190          109         mpfi  3.19    3.40               8.50         90
191          136         mpfi  3.19    3.40               8.50        110
192           97          idi  3.01    3.40              23.00         68
193          109         mpfi  3.19    3.40               9.00         88
194          141         mpfi  3.78    3.15               9.50        114
195          141         mpfi  3.78    3.15               9.50        114
196          141         mpfi  3.78    3.15               9.50        114
197          141         mpfi  3.78    3.15               9.50        114
198          130         mpfi  3.62    3.15               7.50        162
199          130         mpfi  3.62    3.15               7.50        162
200          141         mpfi  3.78    3.15               9.50        114
201          141         mpfi  3.78    3.15               8.70        160
202          173         mpfi  3.58    2.87               8.80        134
203          145          idi  3.01    3.40              23.00        106
204          141         mpfi  3.78    3.15               9.50        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
5        5500       19          25  15250
6        5500       19          25  17710
7        5500       19          25  18920
8        5500       17          20  23875
9        5500       16          22      ?
10       5800       23          29  16430
11       5800       23          29  16925
12       4250       21          28  20970
13       4250       21          28  21105
14       4250       20          25  24565
15       5400       16          22  30760
16       5400       16          22  41315
17       5400       15          20  36880
18       5100       47          53   5151
19       5400       38          43   6295
20       5400       38          43   6575
21       5500       37          41   5572
22       5500       31          38   6377
23       5500       24          30   7957
24       5500       31          38   6229
25       5500       31          38   6692
26       5500       31          38   7609
27       5500       24          30   8558
28       5000       24          30   8921
29       5000       19          24  12964
..        ...      ...         ...    ...
175      4200       27          32   9988
176      4200       27          32  10898
177      4200       27          32  11248
178      5200       20          24  16558
179      5200       19          24  15998
180      5200       20          24  15690
181      5200       19          24  15750
182      4800       37          46   7775
183      5250       27          34   7975
184      4800       37          46   7995
185      5250       27          34   8195
186      5250       27          34   8495
187      4500       37          42   9495
188      5500       26          32   9995
189      5500       24          29  11595
190      5500       24          29   9980
191      5500       19          24  13295
192      4500       33          38  13845
193      5500       25          31  12290
194      5400       23          28  12940
195      5400       23          28  13415
196      5400       24          28  15985
197      5400       24          28  16515
198      5100       17          22  18420
199      5100       17          22  18950
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]>

# Ahora vamos a darle un poco de formato a los datos

primero, acomodamos las unidades (miles per galon vs liters per 100 km)

In [3]:
df["city-mpg"] = 235/df["city-mpg"]
df.rename(columns={"city-mpg":"city-L/100km"}, inplace=True)

In [9]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ration,horsepower,peak-rpm,city-L/100km,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,11.190476,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,11.190476,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,12.368421,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,9.791667,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,13.055556,22,17450

In [10]:
df.dtypes

symboling               int64
normalized-losses     float64
make                   object
fuel-type              object
aspiration             object
num-of-doors           object
body-style             object
drive-wheels           object
engine-location        object
wheel-base            float64
length                float64
width                 float64
height                float64
curb-weight             int64
engine-type            object
num-of-cylinders       object
engine-size             int64
fuel-system            object
bore                   object
stroke                 object
compression-ration    float64
horsepower             object
peak-rpm               object
city-L/100km          float64
highway-mpg             int64
price                  object
dtype: object

In [7]:
#df[ df.price.apply(lambda x: x.isnumeric()) ].set_index("price")
df["price"].replace("?",0, inplace=True)
df["price"] = df["price"].astype("int")

#Momento de normalizar...

Algunas columnas se pueden normalizar. Los metodos son:
* dividir por el maximo
* min-max
* z-score

In [4]:
#Para el largo de los autos, vamos a usar min-max
df["length"] = (df["length"] - df["length"].min())/(df["length"].max() - df["length"].min())

#para el ancho y el alto, vamos a probar con Z-score
df["width"] = (df["width"] - df["width"].mean()) / df["width"].std()
df["height"] = (df["height"] - df["height"].mean()) / df["height"].std()

Vamos a hacer binning con la columna precio (low, medium, high)

In [9]:
#recordar: linspace nos genera intervalos de igual tamaño
#armo un vector de 4 numeros, desde el minimo hasta el maximo, asi me quedan 3 segmentos
bins = np.linspace(min(df["price"]), max(df["price"]),4)
#defino los grupos que quiero crear
groups = ["Low","Medium","High"]
#agrego la columna con los grupos, usando la funcion cut
df["price-binned"] = pd.cut(df["price"],bins,labels=groups,include_lowest=True)

Ahora convierto los posibles valores de "fuel" en dummy variables
(o sea, me invento columnas con nuevas variables, que tomarán los valores 0 ó 1)

In [11]:
pd.get_dummies(df['fuel-type'])

     diesel  gas
0         0    1
1         0    1
2         0    1
3         0    1
4         0    1
5         0    1
6         0    1
7         0    1
8         0    1
9         0    1
10        0    1
11        0    1
12        0    1
13        0    1
14        0    1
15        0    1
16        0    1
17        0    1
18        0    1
19        0    1
20        0    1
21        0    1
22        0    1
23        0    1
24        0    1
25        0    1
26        0    1
27        0    1
28        0    1
29        0    1
..      ...  ...
175       0    1
176       0    1
177       0    1
178       0    1
179       0    1
180       0    1
181       0    1
182       1    0
183       0    1
184       1    0
185       0    1
186       0    1
187       1    0
188       0    1
189       0    1
190       0    1
191       0    1
192       1    0
193       0    1
194       0    1
195       0    1
196       0    1
197       0    1
198       0    1
199       0    1
200       0    1
201       0    1
202       0    1
203       1    0
204       0    1

[205 rows x 2 columns]